* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    background: #000;

}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    align-items: center;
    padding: 20px 0;


}

.icons {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-right: 10px;
    height: 35px;
    padding-left: 10px;


}

.card {
    width: 100%;
    height: auto;
    max-width: 500px;
    outline: none;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 30px #ffffff89;
    transition: background 5s ease;

}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #5A189A; */
    background: rgba(2, 2, 137, 0.976);
    height: 80px;
}

.head img {
    width: 70px;
    padding-left: 10px;
    margin-top: 10px;




}

.head i {
    color: #fff;
    font-size: 30px;
}

#chat {
    height: 70vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: transparent;
    width: 100%;
    max-width: 100%;
    border-radius: 0px;

}

#chat::-webkit-scrollbar {
    width: 6px;
}

#chat::-webkit-scrollbar-track {
    background: transparent;
}

#chat::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

#chat::-webkit-scrollbar-thumb:hover {
    background-color: #5A189A;
}

.bot {
    align-self: flex-start;
    background-color: #5A189A;
    padding: 8px 12px;
    color: #fff;
    font-size: 20px;
    border-radius: 15px;
    max-width: 70%;
    width: fit-content;
    /* display: inline-flex; */
    font-weight: bold;
    overflow-wrap: break-word;
  


}

.cht {
    align-self: flex-end;
    background-color: #DEE2E6;
    padding: 8px 12px;
    border-radius: 15px;
    word-wrap: break-word;
    max-width: 70%;
    font-size: 20px;
    color: #5A189A;
    width: fit-content;
    font-weight: bold;
}



#send {
    display: flex;
    padding: 10px 5px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}

#send i {
    font-size: 30px;
    height: 50px;
    color: #fff;
    padding-top: 10px;



}

#send button {
    border: none;
    background: rgba(2, 2, 137, 0.976);
    height: 50px;
    width: 60px;
    border-radius: 50px;
    box-shadow: 0 0 20px #ffffff;
}

#send button:hover {
    /* background: #5A189A; */
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(2, 2, 137, 0.976);


}

#send i:hover {
    color: rgba(2, 2, 137, 0.976);
}

#send input {
    padding: 10px;
    border-radius: 30px;

    outline: none;
    height: 50px;
    font-size: 20px;

}

#send input:focus {
    box-shadow: 0 0 30px rgba(2, 2, 137, 0.976);
    border: none;
    font-size: 21px;
    font-weight: bold;
    color: rgba(2, 2, 137, 0.976);
}

.bot img {
    width: 40px;
    height: 40px;
    background: none;
    margin-right: 5px;

}

#time {
    font-size: 18px;
    font-weight: bold;
}


#typing span {
    width: 50px;
    height: 50px;
    background: #5A189A;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;

}

#typing span img {
    width: 40px;
    height: 40px;
    background: transparent;
    align-items: center;



}

#typing {
    color: #5A189A;
    font-size: 40px;
    display: flex;



}

@media (prefers-color-scheme: dark) {
    .card {
        background: linear-gradient(-45deg, #ffffffa4, #a061e0, rgba(92, 92, 223, 0.976), #fff);
        background-size: 400% 400%;
        animation: gradientMove 10s ease infinite;
        color: #fff;
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    80% {
        background-position: 0% 50%;
    }
}